<div class="row">
    <div class="wide column">
        <div class="ui large menu">
            <a class="item">
                <i class="add icon"></i>New
            </a>

            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search..." ng-model="query">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


