{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<script src="{% static 'js/' %}{{ APP_CLASS }}/{{ VIEW_CLASS }}.js"></script>
{% endblock %}

{% block content %}

{% include 'includes/_search.html' %}
{{ request.view.func_name }}
<div class="row" ng-controller="{{ VIEW_CONTROLLER }}">
    <div class="wide column">
        <table class="ui small table segment">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Score</th>
            </thead>
            <tbody>
                <tr data-ng-repeat="supplier in suppliers | filter:query">
                    <td>
                        <div class="ui circular label" style="background-color:<[ supplier.colour ]>"></div>
                        <a href="<[ supplier.absolute_url ]>"><[ supplier.name ]></a>
                    </td>
                    <td><[ supplier.email ]></td>
                    <td><[ supplier.score ]></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}