/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #08c;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0;
  padding: 0;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.sidebar {
    overflow: visible !important;
}

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.main-menu {
    position: absolute;
    top: 55px;
    z-index: 99999999;
}

.container {
    width: 960px;
    margin: auto;
}

.logo {
    padding: 10px 0 !important;
}

.logo img {
    width: 150px;
}

