{% load static %}
<!DOCTYPE html>
<html ng-app="AllocateApp">
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properities -->
  <title>Allocate - Kogan</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

  <script src="{% static 'js/libs/jquery.min.js' %}"></script>
  <script src="{% static 'js/libs/semantic.min.js' %}"></script>
  <script src="{% static 'js/libs/angular.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% block extra_head %}
  {% endblock %}
</head>
<body>
    {% include 'includes/_sidebar_menu.html'%}

    <div class="main container">
        <div class="ui grid">
            <div class="row logo" ng-controller="SearchController">
                {% include 'includes/_top_menu.html' %}
            </div>
            <div class="row breadcrumbs-menu">
                {% include 'includes/_breadcrumbs.html' %}
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>

</html>