{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<script src="{% static 'js/' %}{{ APP_CLASS }}/{{ VIEW_CLASS }}.js"></script>
{% endblock %}

{% block content %}

{% include 'includes/_search.html' %}

<div class="row" ng-controller="{{ VIEW_CONTROLLER }}">
    <div class="wide column">
        <table class="ui small celled table segment">
            <thead>
                <th>Name</th>
                <th>Date Created</th>
                <th>Total Invoices</th>
            </thead>
            <tbody>
                <tr data-ng-repeat="manifest in manifests | filter:query">
                    <td><[ manifest.name ]></a></td>
                    <td><[ manifest.date_created ]></td>
                    <td><[ manifest.total_invoices ]></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}